<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark details</title>
</head>
<body>
    <form action="/display" method="post">
        <fieldset>
            <legend>Student Information</legend>
            <div>
                <div>
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name">
                    <label for="fname">Father name: </label>
                    <input type="text" name="fname" id="fname">
                </div>
                <div>
                    <label for="iname">institution name: </label>
                    <input type="text" name="iname" id="iname">
                    <label for="batch">Father name: </label>
                    <input type="text" name="batch" id="batch">
                </div>
            </div>
            <div></div>
        </fieldset>
        <fieldset>
            <legend>Subject Marks</legend>
            <label for="maths">Maths: </label>
            <input type="text" name="maths" id="maths">
            <br>
            <label for="sci">Science: </label>
            <input type="text" name="sci" id="sci">
            <br>
            <label for="soc">Social: </label>
            <input type="text" name="soc" id="soc">
            <br>
            <label for="ai">Artificial intelligence: </label>
            <input type="text" name="ai" id="ai">
            <br>
            <legend><button type="submit">Submit</button></legend>
            <legend><button type="reset">Reset</button></legend>
        </fieldset>
    </form>
</body>
</html>