<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Home page</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <aside class="header-logo">
                <h3 class="logo">Crypto-Info</h3>
            </aside>
            <nav class="navbar">
                <ul class="list">
                    <li class="ele"><a href="#">Home</a></li>
                    <li class="ele"><a href="">About</a></li>
                </ul>
            </nav>
        </header>
        <!-- <main class="main-content">
            <form action="">
                <select name="baseCurrency" id="bCurr">Base-Currency</select>
                <% for(let x on baseCurrency){ %>
                    <option value="<%=x%>"><%=x%></option>
                <%}%>
                <select name="countryCurrency" id="cCurr">Counrty-Currency</select>
                <% for(let x on countryCurrency){ %>
                    <option value="<%=x%>"><%=x%></option>
                <%}%>
            </form>
        </main> -->
        <footer class="footer"></footer>
    </div>
</body>
</html>