<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/register" method="post">
        <label for="username">username : </label>
        <input type="text" placeholder="username" name="username" value="" id="username">
        <br>
        <label for="password">Password : </label>
        <input type="password" placeholder="Password" name="password" value="" id="password">
        <br>
        <label for="re-password">Re-enter password : </label>
        <input type="password" placeholder="Re-enter password" name="re_password" value="" id="re-password">
        <br>
        <label for="email">email : </label>
        <input type="email" placeholder="Email" name="email" value="" id="email">
        <br>
        <label for="confirmEmail">confirm email : </label>
        <input type="email" placeholder="Confirm Email" name="confirm_email" value="" id="confirmEmail">
        <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>