.container{
    display: flex;
    flex-direction: column;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.header-logo{
    font-weight: normal;
    font-size: x-large;
    padding-left: 10%;
}

.list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: large;
}

.ele a{
    color: black;
    text-decoration: none;
}